FakeWebservice/WebServiceClient/Web References/localhost/CountryInformationService0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ezzylearning.com/services/CountryInformationService.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ezzylearning.com/services/CountryInformationService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://www.ezzylearning.com/services/CountryInformationService.asmx">
      <s:include schemaLocation="http://localhost:59826/CountryInformationService.asmx?schema=schema1" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceName" />
  </wsdl:message>
  <wsdl:message name="GetServiceNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryByTwoLetterISOCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryByTwoLetterISOCode" />
  </wsdl:message>
  <wsdl:message name="GetCountryByTwoLetterISOCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryByTwoLetterISOCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwoLetterISOCodeByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetTwoLetterISOCodeByCountry" />
  </wsdl:message>
  <wsdl:message name="GetTwoLetterISOCodeByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetTwoLetterISOCodeByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryByThreeLetterISOCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryByThreeLetterISOCode" />
  </wsdl:message>
  <wsdl:message name="GetCountryByThreeLetterISOCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryByThreeLetterISOCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetThreeLetterISOCodeByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetThreeLetterISOCodeByCountry" />
  </wsdl:message>
  <wsdl:message name="GetThreeLetterISOCodeByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetThreeLetterISOCodeByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCapitalByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCapitalByCountry" />
  </wsdl:message>
  <wsdl:message name="GetCapitalByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCapitalByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAreaInKMByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetAreaInKMByCountry" />
  </wsdl:message>
  <wsdl:message name="GetAreaInKMByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetAreaInKMByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetPopulationByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetPopulationByCountry" />
  </wsdl:message>
  <wsdl:message name="GetPopulationByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetPopulationByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetContinentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetContinents" />
  </wsdl:message>
  <wsdl:message name="GetContinentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetContinentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountriesByContinentSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountriesByContinent" />
  </wsdl:message>
  <wsdl:message name="GetCountriesByContinentSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesByContinentResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountryByCurrencyCode" />
  </wsdl:message>
  <wsdl:message name="GetCountryByCurrencyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountryByCurrencyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencies" />
  </wsdl:message>
  <wsdl:message name="GetCurrenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeByCountry" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyCodeByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyCodeByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyNameByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyNameByCountry" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyNameByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyNameByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCurrencyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrencyByCurrencyCode" />
  </wsdl:message>
  <wsdl:message name="GetCurrencyByCurrencyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrencyByCurrencyCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="CountryInformationServiceSoap">
    <wsdl:operation name="GetServiceName">
      <wsdl:input message="tns:GetServiceNameSoapIn" />
      <wsdl:output message="tns:GetServiceNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesSoapIn" />
      <wsdl:output message="tns:GetCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByTwoLetterISOCode">
      <wsdl:input message="tns:GetCountryByTwoLetterISOCodeSoapIn" />
      <wsdl:output message="tns:GetCountryByTwoLetterISOCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwoLetterISOCodeByCountry">
      <wsdl:input message="tns:GetTwoLetterISOCodeByCountrySoapIn" />
      <wsdl:output message="tns:GetTwoLetterISOCodeByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByThreeLetterISOCode">
      <wsdl:input message="tns:GetCountryByThreeLetterISOCodeSoapIn" />
      <wsdl:output message="tns:GetCountryByThreeLetterISOCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreeLetterISOCodeByCountry">
      <wsdl:input message="tns:GetThreeLetterISOCodeByCountrySoapIn" />
      <wsdl:output message="tns:GetThreeLetterISOCodeByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCapitalByCountry">
      <wsdl:input message="tns:GetCapitalByCountrySoapIn" />
      <wsdl:output message="tns:GetCapitalByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaInKMByCountry">
      <wsdl:input message="tns:GetAreaInKMByCountrySoapIn" />
      <wsdl:output message="tns:GetAreaInKMByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPopulationByCountry">
      <wsdl:input message="tns:GetPopulationByCountrySoapIn" />
      <wsdl:output message="tns:GetPopulationByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContinents">
      <wsdl:input message="tns:GetContinentsSoapIn" />
      <wsdl:output message="tns:GetContinentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesByContinent">
      <wsdl:input message="tns:GetCountriesByContinentSoapIn" />
      <wsdl:output message="tns:GetCountriesByContinentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <wsdl:input message="tns:GetCountryByCurrencyCodeSoapIn" />
      <wsdl:output message="tns:GetCountryByCurrencyCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:input message="tns:GetCurrenciesSoapIn" />
      <wsdl:output message="tns:GetCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCountry">
      <wsdl:input message="tns:GetCurrencyCodeByCountrySoapIn" />
      <wsdl:output message="tns:GetCurrencyCodeByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyNameByCountry">
      <wsdl:input message="tns:GetCurrencyNameByCountrySoapIn" />
      <wsdl:output message="tns:GetCurrencyNameByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCurrencyCode">
      <wsdl:input message="tns:GetCurrencyByCurrencyCodeSoapIn" />
      <wsdl:output message="tns:GetCurrencyByCurrencyCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CountryInformationServiceSoap" type="tns:CountryInformationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceName">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetServiceName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByTwoLetterISOCode">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountryByTwoLetterISOCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwoLetterISOCodeByCountry">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetTwoLetterISOCodeByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByThreeLetterISOCode">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountryByThreeLetterISOCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreeLetterISOCodeByCountry">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetThreeLetterISOCodeByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapitalByCountry">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCapitalByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaInKMByCountry">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetAreaInKMByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopulationByCountry">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetPopulationByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContinents">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetContinents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesByContinent">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountriesByContinent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountryByCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCountry">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencyCodeByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyNameByCountry">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencyNameByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCurrencyCode">
      <soap:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencyByCurrencyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CountryInformationServiceSoap1" type="tns:CountryInformationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceName">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetServiceName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByTwoLetterISOCode">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountryByTwoLetterISOCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwoLetterISOCodeByCountry">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetTwoLetterISOCodeByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByThreeLetterISOCode">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountryByThreeLetterISOCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreeLetterISOCodeByCountry">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetThreeLetterISOCodeByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapitalByCountry">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCapitalByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaInKMByCountry">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetAreaInKMByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPopulationByCountry">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetPopulationByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContinents">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetContinents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesByContinent">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountriesByContinent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryByCurrencyCode">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCountryByCurrencyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyCodeByCountry">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencyCodeByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyNameByCountry">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencyNameByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyByCurrencyCode">
      <soap12:operation soapAction="http://www.ezzylearning.com/services/CountryInformationService.asmx/GetCurrencyByCurrencyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>